$activeGreen: #7dbd6e;
$invalidColor: tomato;
$white: #fff;
$black: #333336;
$activeMenuColor: #5b78c2;
$heroTextColor: #72b2f2;
$buttonHeroColor: #6166ed;
$button2HeroColor: #312e65;
$whatwedoTitleColor: #4b479e;
$whatweDoContentColor: #161765;
$whatweDoButtonColor: #4b479e;

$globalFont: "Montserrat", sans-serif;
$formFont: "Work Sans", sans-serif;
