@import "mobile";
@import "variables";
@import "hero";
@import "whatwedo";
@import "technology";
@import "contact";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
img {
  width: 100%;
}
.active {
  border: 2px solid #5c7cc7;
  border-radius: 40px;
}

.form {
  text-transform: uppercase;
}

.valid {
  border-color: $activeGreen;
}
.invalid {
  border-color: red;
}
